table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .credit-card-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .expiry-cvc {
    display: flex;
    gap: 10px;
  }
   
  .form-group {
    margin-bottom: 16px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    background-color: 'rgba(0, 0, 0, 0.9)';
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 16px;
}

button {
    background-color: #0eca14;
    color: #fff;
    padding: 10px 250px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
} 

 button:hover {
    background-color: #45a049;
}

.submitted-message {
    text-align: center;
    font-size: 18px;
    color: #4caf50;
    font-weight: bold;
} 



